<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Ember Careers</title>
  <meta name='description' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <% if Rails.env.production? %>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application" %>
  <% else %>
    <%= stylesheet_link_tag    "http://localhost:4200/assets/app.css", media: "all"%>
    <%= javascript_include_tag "http://localhost:4200/assets/app.js" %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <script>
    window.EmberCareers = require('ember-careers/app')['default'].create();
  </script>
</body>
</html>
