<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Ember Careers</title>
  <meta name='description' content=''>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <script>
    window.ENV = {"rootURL":"/","FEATURES":{}};
    document.write('<base href="' + document.location.origin + ENV.rootURL + '" />');
  </script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>

  <% if Rails.env.production? %>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application" %>
  <% else %>
    <%= stylesheet_link_tag    "http://localhost:4200/assets/app.css", media: "all"%>
    <%= javascript_include_tag "http://localhost:4200/assets/app.js" %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.EmberCareers = require('ember-careers/main')['default']('ember-careers');
  </script>
</body>
</html>
