{{#if errors.content}}
  <h3>There were some errors with the info you provided:</h3>

  <ul>
    {{#each errors.content}}
      <li><strong>{{attribute}}</strong> {{message}}</li>
    {{/each}}
  </ul>
{{/if}}

<form>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <label>Job Title
        {{input value=title placeholder='Senior Ember Developer'}}
      </label>
    </div>
    <div class="small-12 medium-3 columns">
      <label>Company
        {{input value=company placeholder='Tilde'}}
      </label>
    </div>
    <div class="small-12 medium-3 columns">
      <label>Location
        {{input value=location placeholder='Portland, OR'}}
      </label>
    </div>
    <div class="small-12 medium-3 columns">
      <label>Category
        {{view Ember.Select content=categories value=category}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>Description
        {{markdown-editor content=description
          placeholder="Come build awesome ember apps with us! (You can write Markdown here!)"}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <button type="submit" {{action save this}}>Save</button>
      <button type="submit" {{action cancel this}} class="button secondary">Cancel</button>
    </div>
  </div>
</form>
